.App {
  max-height: 90vh;
  display: flex;
  font-size: calc(8px + 1.2vmin);
  padding: 1rem;
}

.App-header {
  text-align: center;
  color: teal;
  font-size: calc(8px + 1.2vmin);
}

.App-header h1 {
  margin: 0.5rem;
}
